

.img-team{
    width: 100%;
    min-width: 100%;
    max-height: 450px;
    object-fit: contain;
}

@media screen and (max-width: 500px) {

    .img-team{
        min-width: 100%;
        max-height: 300px;
        object-fit: cover;
    }

}